.about__container {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  padding: 20px;
  border-radius: 5px;
  background-color: white;
  margin: 0 auto;
  margin-top: 150px;
  max-width: 600px;
  font-weight: 300;
}

.about__container p:first-child {
  font-size: 20px;
}

.about__container p:nth-child(2) {
  margin-top: 5px;
}

.about__container p:last-child {
  font-size: 18px;
  display: block;
  margin-top: 10px;
  text-align: right;
}
